body {
  // background-image: url('../../assets/images/sky.jpg');

}
.login-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 300px;
  background-color: $colorTheme;
  .login-container {
    padding: 30px;
    .login-title {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    .login-form {
      max-width: 600px;
      padding: 20px 0;
      .submit-btn {
        margin-left: 40px;
        padding: 0 30px;
      }
      .login-form-button {
        width: 100%;
      }
    }
  }
}
